.container_profile {
    background-image: url(https://www.primefaces.org/cdn/primevue/images/layout/pattern.png), radial-gradient(50% 50% at center top, #c7eeea 0%, #ffffff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-color: black;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.content {
    margin: 50px;
}


/* profile.component.css */

.profile {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
}

.left,
.right {
    flex: 1;
    /* ทำให้ทั้งสองส่วนมีขนาดเท่ากัน */
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    /* เพิ่มขอบเพื่อความชัดเจน */
}

.left {
    background-color: #fff;
}

.right {
    background-color: #eef;
}