.container_profile {
    background-image: url(https://www.primefaces.org/cdn/primevue/images/layout/pattern.png), radial-gradient(50% 50% at center top, #c7eeea 0%, #ffffff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-color: black;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.content {
    margin: 50px;
}