<div class="container_profile">
    <form [formGroup]="formUpdate">
        <div class="profile">

            <div class="left">
                <h3>ข้อมูลส่วนบุคคล</h3>
                <p class="col-span-2"><strong>Username: </strong> <input pInputText class="flex-auto" formControlName="username" autocomplete="off" /></p>

                <p><strong>First Name: </strong> <input pInputText class="flex-auto" formControlName="firstName" autocomplete="off" /></p>
                <p><strong>Last Name: </strong> <input pInputText class="flex-auto" formControlName="lastName" autocomplete="off" /></p>

            </div>
            <div class="right">
                <h3>รายละเอียดการติดต่อ</h3>
                <p><strong>Email: </strong> <input pInputText class="flex-auto" formControlName="email" autocomplete="off" /></p>
                <p><strong>Birthday: </strong> <input pInputText class="flex-auto" autocomplete="off" formControlName="birthDay" /></p>
                <p><strong>Phoenumber: </strong> <input pInputText class="flex-auto" autocomplete="off" formControlName="phoneNumber" /></p>
                <p-button icon="pi pi-pen-to-square" class="float-end flex-auto md:flex-initial white-space-nowrap text-end" label="แก้ไขรายการ" (onClick)="Update()" />
            </div>

        </div>
    </form>


</div>
