.navbar{
  position: fixed;
width: 100%;
z-index: 9999;
background: #f8f9fa;
}

.footer {
  
 
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.contact .body{
  display: flex;

}
.contact .body a,.text-at-icon {
  display: flex;
  align-items: center;
  text-decoration-line: none;
  
}
.contact .body i{
  margin: 10px;
  background-color: #2f2f2f;
  color:#fff;
  padding: 10px;
  border-radius: 50%;
}
.social i{
  padding: 15px;
}