$white: #000000;
$black: #000000;
$primary: #ffffff;
$secondary: #f9bf29;
$dark: #2f2f2f;
$light: #dce5e4;
$lighter: #eff2f1;
$body_color: #6a6a6a;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
.section-content {
    margin: 50px;
}

.hero {
    .container {
        max-width: 100%;
    }
    background: $primary;
    background-image: url(https://www.primefaces.org/cdn/primevue/images/layout/pattern.png),
    radial-gradient(50% 50% at center top, var(--primary-100) 0%, #ffffff 100%);
    padding: calc(4rem - 30px) 0 0rem 0;
    @media (min-width: $md) {
        padding: calc(4rem - 30px) 0 4rem 0;
    }
    @media (min-width: $lg) {
        padding: calc(8rem - 30px) 0 8rem 0;
    }
    .intro-excerpt {
        position: relative;
        z-index: 4;
        @media (min-width: $lg) {
            max-width: 450px;
        }
    }
    h1 {
        font-weight: 700;
        color: $white;
        margin-bottom: 30px;
        @media (min-width: $xxl) {
            font-size: 54px;
        }
    }
    p {
        color: $white;
        margin-botom: 30px;
    }
}

.intro-excerpt {
    margin-left: 50px;
}

.content {
    justify-content: space-between;
    display: flex;
}

// .p-card .p-component{
//     margin-bottom: 15px;
// }
.p-card-content {
    margin: 0 !important;
    padding: 0 !important;
}

.image-show {
    margin-right: 50px;
}

.img-slider {
    border-radius: 15px;
    transition: all 1s ease-out;
}

.filter {
    display: flex;
    margin: 0 50px 0 50px;
    flex-wrap: wrap
}

.filter .search span,
.filter .search input {
    width: 900px;
}

.send {
    width: 300px;
}

.location {
    margin-right: 25px;
    width: 250px;
}

.moreFilter {
    width: 150px;
    height: 100%;
}

::ng-deep .custom-input input#currency-thailand {
    width: 100%;
    /* ปรับค่าตามที่ต้องการ */
}

::ng-deep .close-btn input {
    background-color: #000000;
    /* ปรับค่าตามที่ต้องการ */
}

.content-overlay {
    display: flex
}

.search {
    margin-bottom: 15px;
    margin-right: 25px;
}

.btn-refresh {
    margin-left: 5px;
}

.addOn {
    margin-right: 25px;
}

::ng-deep .custom-btn button {
    width: 100%;
}

.addOn .p-button {}