<div class="hero">
    <div class="container">
        <div class="content">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>CO-Working Space</h1>
                    <p class="mb-4">สำหรับชาวฟรีแลนซ์หรือใครที่กำลังมองที่นั่งทำงานชิลๆ แอร์เย็น มีปลั๊กไว้เสียบ ไม่ว่าจะแบบมาแป๊บเดียวหรือนั่งแช่เป็นวันๆ ลองเอาลิสต์นี้ไปใช้ดู นี่คือ Co-working 10 แห่งรอบกรุง ที่คุณสามารถหอบงานไปทำได้ โดยไม่ต้องเสียเงินเพิ่มแต่อย่างใด</p>
                    <p-button label="รายละเอียด"></p-button>
                </div>
            </div>
            <div class="image-show">
                <p-galleria [value]="images" [numVisible]="5" [circular]="true" [showItemNavigators]="true" [showThumbnails]="false" [containerStyle]="{ 'max-width': '640px' }">
                    <ng-template pTemplate="item" let-item>
                        <img class="img-slider" [src]="item.itemImageSrc" style="width: 100%; display: block;" />
                    </ng-template>
                </p-galleria>
            </div>
        </div>
    </div>
</div>
<div class="filter">
    <div class="search">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText [(ngModel)]="search"  placeholder="ชื่อ"/>
        </span>
    </div>

    <div class="location">
        <span class="p-float-label">
            <p-dropdown [style]="{width:'100%'}" [options]="optionCity" [(ngModel)]="selectedCity"   placeholder="จังหวัด" optionLabel="name" inputId="float-label"></p-dropdown>
            <label for="float-label" >เลือกจังหวัด</label>
        </span>
    </div>

    <div class="addOn">
        <button (click)="op.toggle($event)" pButton pRipple icon="pi pi-plus" label="เพิ่มเติม" class="p-button-Primary" [style.width]=" '300px' "></button>

    </div>
    <p-overlayPanel #op>
        <div class="content-overlay">
            <div class="moreFilter" *ngFor="let data of moreFilters">

                <div class="title">
                    {{data.title}}
                </div>
                <ng-container *ngIf="data.type === 'checkbox'">
                    <div class="item" *ngFor="let body of data.item ">
                        <p-checkbox [label]="body.label" [name]="body.name" [value]="body.value" [(ngModel)]="selectedFilter"></p-checkbox>
                    </div>
                </ng-container>
                <ng-container *ngIf="data.type === 'price'">


                    <label class="block font-bold mb-2">{{data.startRange}}</label>
                    <p-inputNumber class="custom-input" [(ngModel)]="startPrice" mode="currency" inputId="currency-thailand" currency="THB" locale="th-TH"> </p-inputNumber>

                    <label class="block font-bold mb-2">{{data.lastRange}}</label>
                    <p-inputNumber class="custom-input" [(ngModel)]="lastPrice" mode="currency" inputId="currency-thailand" currency="THB" locale="th-TH"> </p-inputNumber>

                </ng-container>
            </div>

        </div>
    </p-overlayPanel>
    <div class="send">
        <button pButton pRipple (click)="Search()" icon="pi pi-search" label="ค้นหา" class="p-button-success btn-send"></button>
        <button pButton pRipple icon="pi pi-refresh" (click)="clearCheckboxes()" label="ล้าง" class="p-button-danger btn-refresh"></button>
    </div>
</div>
<div class="section-content">
    <div class="space flex">
    <ng-container *ngFor="let item of space">
       
    
    <p-card header={{item.spaceName.toString()}} subheader="{{item.spaceDescription}}" [style]="{ width: '360px',margin: '0 20px 15px 0'}">
        <ng-template pTemplate="header">
            <img alt="Card" src="{{item.image.toString()}}" [style]="{width: '100%', height:'250px' }" />
        </ng-template>
        <div>
            <mat-chip-set aria-label="chip-selection">
                <mat-chip>
                    <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu" /> จอดรถฟรี
                </mat-chip>
                <mat-chip>
                    <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu" /> จอดรถฟรี
                </mat-chip>
                <mat-chip>
                    <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu" /> จอดรถฟรี
                </mat-chip>
                <mat-chip>
                    <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu" /> จอดรถฟรี
                </mat-chip>
            </mat-chip-set>
        </div>
        
        <ng-template pTemplate="footer">
            <p-button label="รายละเอียด" class="custom-btn" (onClick)="testPrint()" icon="pi pi-search-plus"></p-button>

        </ng-template>
    </p-card>
</ng-container>
</div>
    <div class="card flex flex-row-reverse">
        <p-paginator [totalRecords]="totalRecords" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
    </div>
</div>


<ng-template pTemplate="footer">
    <p>asd</p>
</ng-template>