<div *ngIf="chat" class="chat">
    <div class="chat-widget">
        <div class="chat-header mx-5">
            <h3>Notification COLAB</h3>
        </div>
        <div class="chat-body">

            <p *ngFor="let object of msg">
                {{object.message}}

            </p>
            <div class=" text-end">
                <p-button *ngIf="cancelBooking" styleClass="mx-5 my-3 text-end btn-canncel" (onClick)="toggleCancel()" label="ยกเลิกรายการ"></p-button>
                <p-dialog header="ยืนยัน" [(visible)]="confirmCancel" [modal]="true" [draggable]="false" [resizable]="false">
                    <p>
                        คุณแน่ใจแล้วใช่ไหมที่ต้องการยกเลิกการจองนี้

                    </p>

                    <p-button class="mx-3" label="ยืนยัน" icon="pi pi-wallet" iconPos="right" (onClick)="cancel()"></p-button>
                    <p-button label="ยกเลิก" class="" icon="pi pi-times " iconPos="right" (onClick)="toggleCancel()"></p-button>
                </p-dialog>
            </div>


        </div>
        <div class="chat-input mx-5 text-end my-3">
            <input type="text" pInputText placeholder="ระบบการโต้ตอบ รอการพัฒนา" disabled />
            <p-button styleClass="btn-custom mx-3" (onClick)="toggleChat()" label="ปิด"></p-button>
        </div>
    </div>
</div>

<div *ngIf="!chat" class="openChat" (click)="toggleChat()">
    Mail
</div>